<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary" [hidden]="router.url === '/home_signin'">
    <div class="container-fluid">
        <div style="margin: 0rem 2rem 0rem 0rem;">
            <img src="https://www.simplilearn.com/ice9/new_logo.svgz" alt="Annas Arch Firm logo" width="200px"
                height="auto">
        </div>
                
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/client_profile" routerLinkActive="active">Client Profile & Project</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/schedule_meeting" routerLinkActive="active">Meeting Scheduler</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="button button_secondary" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="margin-left: 4rem;" routerLink="/" routerLinkActive="active">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <router-outlet></router-outlet>
</main>