<!-- <p>home works!</p> -->

<!-- <div class="container d-flex justify-content-center align-items-center text-center full-height">
    <div class="row">
        <div class="row align-items-end">
            <div class="col">
                <h1>Welcome to Our Organization</h1>
                <p>Schedule for Clients, Meetings, and More!</p> -->
                <!-- Example Call-to-Action -->
<!-- <button routerLink="/Client" class="btn btn-primary">Create Clients</button>
</div>
</div>
</div>
</div> -->

<div class="container d-flex justify-content-center align-items-center text-center full-height">
    <div class="card" style="width: 18rem;">
        <img src="../assets/Geodesic_Illustration_Homepage_V1.jpg" class="card-img-top" alt="corporate logo">
        <div class="card-body">
            <h5 class="card-title">Welcome to Our Organization</h5>
            <p class="card-text">Schedule for Clients, Meetings, and More!</p>
            <a routerLink="/actors" class="btn btn-primary">How It Works</a>
        </div>
    </div>